:root {
  --primary: #135d66;
  --gtw: #e3fef7;
  --bg: #77b0aa;
  --gtwjg: #003c43;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: var(--gtw);
}

h1{
  color: #ffff;
  font-size: 3rem;
  margin-bottom: 2rem;
}

p{
  max-width: 50%;
  justify-content: left;
  
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(119, 176, 170 0.8);
  /* border-bottom: 1px solid var(--primary); */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 1.6rem;
  font-weight: 700;
  color: #ffffff;
}

.navbar .navbar-logo span {
  color: var(--primary);
  /* font-style: italic; */
}

.navbar .navbar-nav a {
  color: var(--gtw);
  display: inline-block;
  font-size: 1.15rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.2rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover:after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: #e3fef7;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--primary);
}

#hamburger-menu {
  display: none;
}

/* Hero section */
.hero {
  min-height: 100vh;
  display: flex;
  padding: 1.4rem 7%;
  align-items: center;
  background-image: url("../img/header-bg.png");
  background-size: cover;
  background-position: center;
}

.buttons {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.btn-login {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.btn-register {
  padding: 10px 20px;
  font-size: 16px;
  color: #5da295;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-login:hover {
  background-color: var(--gtwjg);
  color: #fff;
}

.btn-register:hover {
  background-color: var(--gtwjg);
  color: #fff;
}

/* Media Queries */

/* laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }
  #hamburger-menu {
    display: inline-block;
  }
  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #e3fef7;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }
}
/* Mobile */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
